.comment-bubble{
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    padding: 1em;
    width: 90%;
    box-sizing: border-box;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 19fr 2fr;
    grid-template-rows: minmax(0, 1fr);
}

.input-box{
    border-radius: 8px;
    height: 80px;
    border-color: hsl(223, 19%, 93%);
    font-family: 'Rubik', sans-serif;
    padding: 1em;
    resize: none;
}

.input-box:focus-visible{
    outline: none !important;
    border-color: hsl(212, 24%, 26%);
}

.btn{
    align-self: start;
    background-color: hsl(238, 40%, 52%);
    color: hsl(0, 0%, 100%);
    padding-block: 1em;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    border-style: none;
}

.user{
    align-self: start;
}