@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

body{
    background-color:  hsl(228, 33%, 97%);
}

.app-container{
    width: 100%;
    display: grid;
    margin-top: min(10%, 50px);
    grid-template-columns: 1fr clamp(330px, 50% ,1250px) 1fr;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1em;
}